/* css style sheet */

*{
  margin:0;
  padding:0;
}

ul,li{
  list-style: none;
}

a{
  text-decoration:none;
}

button{
	all: unset;
}





body{
  margin: 0 auto;
  width: 1200px;
  text-align: center;
}

#wrap{
  display:inline-block;
  text-align: center;
}

#header{
  padding:0 auto;
}

#header_in{
  display: flex;
  padding:0 auto;
}



#login_ {
  padding:5px 20px 0;
  padding:0 auto;
  width: 920px ;
  text-align: right;
}

#logo{
  padding:50px 20px 0;
  text-align: left;
}

#login_ > ul > li{
  display:inline-block;
  margin: 0 10px ;
}

#login_ > ul > li > a{
  font-size:10px;
  color:#7b7b7b;
  font-weight: bold;
  display:inline-block;
  margin: 40px 0;
}


#gnb{
  display:inline-block;
  text-align: center;
  padding:0px 20px 5px;
}

#gnb > ul > li{
  display:inline-block
}

#gnb > ul > li > a{
  font-size:19px;
  color:#004385;
  font-weight: bold;
  width:180px;
  display:inline-block;
  margin:40px 0;
}



.outer {
  display: inline-block;
  position : relative;
  padding: 6px ;
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  overflow-x: hidden;
}

.inner-list {
  display: flex;
  transition: .3s ease-out;
  height: 100%;
}

.inner {
  padding: 6px ;
  padding: 0 16px;
  background-color: #7b7b7b;
}

.button-left {
  position: absolute;
  top: 50%;
  transform: translate( -50%, -50% );
  font-size:100px;
  color:#ffffff;
  left : 70px; 
}

.button-right {
  position: absolute;
  top: 50%;
  transform: translate( -50%, -50% );
  font-size:100px;
  color:#ffffff;
  right : 70px;
}