/* css style sheet */

*{
  margin:0;
  padding:0;
}
ul,li{list-style: none;}
h1 {
  font-weight: bold; /* 제목 글꼴 굵게 지정 */
  color: rgb(28, 30, 30);
}

button{all: unset;}

.menubut{
  border: 0;
  color: rgb(70, 70, 70);
  background-color: transparent;
}

.mybut{
  border: 0;
  color: rgb(232, 232, 232);
  background-color: transparent;
}


body{
  margin: 0 auto;
}

section{
  margin: 0 auto;
  width: 1280px;
}

header{
  height: 345px;
  width: 100%;
  margin: 0 auto;
}

#header_in{
  text-align: center;
  width: 1280px;
  margin: 0 auto 120px ; /* 위 아래 50px, 좌우 auto */
  display: flex;
  padding: 50px 0 0 0;
  
}


#login_ {
  padding: 0 20px 0;
  width: 1000px ;
  text-align: right;
}

#logo{
  padding:0 20px 0;
  text-align: left;
}

#before > ul > li,
#after > ul > li {
    display: inline-block;
}

#before > ul > li > input,
#after > ul > li > input {
    color: #ffffff;
    margin: 0 10px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(6, 62, 65);
}

.menu{
  width: 100%;
  background-color:rgb(42, 82, 81);
}


#gnb{
  width: 1280px;
  margin: 0 auto;
  text-align: center;
}

#gnb > ul > li{
  display:inline-block;
}


#gnb > ul > li > input{
  font-size:19px;
  color:#e0dede;
  text-shadow: 1px 1px 2px rgb(2, 26, 27);
  font-weight: bold;
  width:200px;
  display:inline-block;
  text-align: center;
  margin: 30px 20px 30px 20px;
}

